In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/movielens.csv')

In [3]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,[ 4 14],b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,[5 7],b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,[10 16],b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'

In [4]:
def trim_col(x):
    return x[2:-1]

df['movie_title'] = df['movie_title'].apply(trim_col)
df['movie_id'] = df['movie_id'].apply(trim_col)
df['user_id'] = df['user_id'].apply(trim_col)
df['user_occupation_text'] = df['user_occupation_text'].apply(trim_col)
df['user_zip_code'] = df['user_zip_code'].apply(trim_col)

In [5]:
def genre(x):
    x = x[1:-1]
    x = x.strip()
    x = x.split(sep=' ')
    l = list(filter(lambda x: x not in (None, ""), x))

    return l

In [6]:
df['movie_genres'] = df['movie_genres'].apply(genre)

In [7]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,53211
1,25.0,"[4, 14]",709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,80525
2,18.0,[4],412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,55439
3,50.0,"[5, 7]",56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,06472
4,50.0,"[10, 16]",895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,75094

In [8]:
genre_map = {
    0: 'Unknown',
    1: 'Action',
    2: 'Adventure',
    3: 'Animation',
    4: 'Children',
    5: 'Comedy',
    6: 'Crime',
    7: 'Documentary',
    8: 'Drama',
    9: 'Fantasy',
    10: 'Film-Noir',
    11: 'Horror',
    12: 'Musical',
    13: 'Mystery',
    14: 'Romance',
    15: 'Sci-Fi',
    16: 'Thriller',
    17: 'War',
    18: 'Western',
    19: 'Other'
}

In [9]:
df["movie_genres"] = df["movie_genres"].apply(lambda ids: [genre_map[int(id)] for id in ids])

In [10]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[Documentary],357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,53211
1,25.0,"[Children, Romance]",709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,80525
2,18.0,[Children],412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,55439
3,50.0,"[Comedy, Documentary]",56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,06472
4,50.0,"[Film-Noir, Thriller]",895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,75094

In [11]:
df['user_gender'].value_counts()

user_gender
True     74260
False    25740
Name: count, dtype: int64

In [12]:
df.dtypes

bucketized_user_age      float64
movie_genres              object
movie_id                  object
movie_title               object
raw_user_age             float64
timestamp                  int64
user_gender                 bool
user_id                   object
user_occupation_label      int64
user_occupation_text      object
user_rating              float64
user_zip_code             object
dtype: object

In [13]:
df.isna().sum()

bucketized_user_age      0
movie_genres             0
movie_id                 0
movie_title              0
raw_user_age             0
timestamp                0
user_gender              0
user_id                  0
user_occupation_label    0
user_occupation_text     0
user_rating              0
user_zip_code            0
dtype: int64

In [14]:
from sklearn.preprocessing import MultiLabelBinarizer

In [15]:
mlb = MultiLabelBinarizer()

In [16]:
genres_encoded = mlb.fit_transform(df['movie_genres'])
genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)

In [17]:
df = pd.concat([df, genres_df], axis=1).drop('movie_genres', axis=1)

In [18]:
df.head()

,bucketized_user_age,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,...,Film-Noir,Musical,Mystery,Other,Romance,Sci-Fi,Thriller,Unknown,War,Western
0,45.0,357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,...,0,0,0,0,0,0,0,0,0,0
1,25.0,709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,...,0,0,0,0,1,0,0,0,0,0
2,18.0,412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,...,0,0,0,0,0,0,0,0,0,0
3,50.0,56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,...,0,0,0,0,0,0,0,0,0,0
4,50.0,895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,...,1,0,0,0,0,0,1,0,0,0

In [19]:
from sentence_transformers import SentenceTransformer

In [20]:
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

In [21]:
# This line of code kept running more than 20min so we moved to another optimezed solution in the next cell.

# df['title_embedding'] = df['movie_title'].apply(lambda title: model.encode(title))

In [22]:
embeddings = model.encode(df['movie_title'].tolist(), convert_to_tensor=True)
embeddings.shape

torch.Size([100000, 384])

In [23]:
embeddings

tensor([[-0.0351,  0.0105, -0.0312,  ..., -0.0218, -0.0094,  0.0348],
        [ 0.0086, -0.0072, -0.0644,  ...,  0.0253,  0.0306, -0.0308],
        [-0.0321, -0.0142, -0.0637,  ...,  0.0862,  0.0505,  0.0244],
        ...,
        [-0.0351, -0.0501, -0.0722,  ..., -0.0219, -0.0168,  0.0162],
        [-0.0337,  0.0383, -0.0397,  ...,  0.0653, -0.0048,  0.0151],
        [-0.0404,  0.0470, -0.0209,  ...,  0.1131, -0.0211, -0.0109]])

In [24]:
embeddings_list = embeddings.tolist()
df['title_embedding'] = embeddings_list

In [25]:
embeddings_df = pd.DataFrame(df['title_embedding'].tolist(), index=df.index)

In [26]:
df = pd.concat([df.drop(columns=['title_embedding']), embeddings_df], axis=1)

In [27]:
df.head()

,bucketized_user_age,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,...,374,375,376,377,378,379,380,381,382,383
0,45.0,357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,...,-0.000059,0.028617,-0.006242,-0.010861,-0.026007,-0.070109,0.077629,-0.021817,-0.009381,0.034754
1,25.0,709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,...,-0.020182,-0.000871,-0.000600,0.060614,-0.050331,0.027037,0.017307,0.025332,0.030639,-0.030832
2,18.0,412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,...,0.028449,0.011174,-0.009052,0.007225,-0.005080,0.015241,0.099558,0.086217,0.050451,0.024373
3,50.0,56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,...,0.022719,0.018235,0.011511,0.137771,-0.051351,0.016533,0.010268,-0.001654,0.101332,0.017574
4,50.0,895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,...,0.068550,0.025233,-0.034744,0.048030,-0.023011,0.035936,0.086280,-0.033038,0.083152,0.024514

In [28]:
# synapses
# NMF

In [31]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler, MultiLabelBinarizer
from sentence_transformers import SentenceTransformer

# Load the dataset
data = pd.read_csv("../data/movielens.csv")

# Initialize transformers
# genre_encoder = OneHotEncoder(sparse=False)
genre_encoder = MultiLabelBinarizer()
occupation_encoder = OneHotEncoder(sparse=False)
scaler = StandardScaler()
title_transformer = SentenceTransformer('all-MiniLM-L6-v2')

genre_map = {
    0: 'Unknown',
    1: 'Action',
    2: 'Adventure',
    3: 'Animation',
    4: 'Children',
    5: 'Comedy',
    6: 'Crime',
    7: 'Documentary',
    8: 'Drama',
    9: 'Fantasy',
    10: 'Film-Noir',
    11: 'Horror',
    12: 'Musical',
    13: 'Mystery',
    14: 'Romance',
    15: 'Sci-Fi',
    16: 'Thriller',
    17: 'War',
    18: 'Western',
    19: 'Other'
}


# Process user features
def preprocess_user_features(data):
    # Normalize bucketized_user_age
    bucketized_user_age = scaler.fit_transform(data[['bucketized_user_age']])
    
    # Encode user_gender as binary (0: False, 1: True)
    user_gender = data['user_gender'].astype(int).values.reshape(-1, 1)
    
    # One-hot encode user_occupation_label
    occupation_encoded = occupation_encoder.fit_transform(data[['user_occupation_text']])
    
    # Optional: Encode user_zip_code (use first 3 digits as region)
    # data['zip_region'] = data['user_zip_code'].astype(str).str[:3]
    # zip_encoded = LabelEncoder().fit_transform(data['zip_region']).reshape(-1, 1)
    
    # Return user feature vector
    user_features = np.hstack([bucketized_user_age, user_gender, occupation_encoded]) #, zip_encoded])
    return user_features

# Process movie features
def preprocess_movie_features(data):
    """
    Preprocess movie features for model input.

    Args:
        data (pd.DataFrame): DataFrame containing movie features, including 'movie_genres' and 'movie_title'.
        title_transformer: Sentence transformer model for title embeddings.
        genre_encoder: MultiLabelBinarizer for encoding genres (optional; will be fitted if not provided).

    Returns:
        np.ndarray: Preprocessed movie feature vectors.
    """
    # One-hot encode movie_genres (assuming genres are in a list format)
    # genres = data['movie_genres'].apply(lambda x: [int(genre) for genre in x.strip('[]').split()])
    # genre_encoded = genre_encoder.fit_transform(genres.tolist())
    data["movie_genres"] = data["movie_genres"].apply(
        lambda ids: [genre_map[int(id)] for id in ids.strip('[]').split()]
    )

    # MultiLabelBinarizer for genres
    genre_encoded = genre_encoder.fit_transform(data["movie_genres"])
    
    # Encode movie titles with sentence embeddings
    title_embeddings = np.array(title_transformer.encode(data['movie_title'].tolist()))
    
    # Map movie_id to embeddings (if using embedding layer)
    # movie_ids = LabelEncoder().fit_transform(data['movie_id'])
    # movie_id_embeddings = np.expand_dims(movie_ids, axis=-1)
    
    # Return movie feature vector
    movie_features = np.hstack([genre_encoded, title_embeddings]) #, movie_id_embeddings])
    return movie_features

# Prepare data
user_features = preprocess_user_features(data)
movie_features = preprocess_movie_features(data)

# Ensure user_features and movie_features are ready for model input
print("User Features Shape:", user_features.shape)
print("Movie Features Shape:", movie_features.shape)

/Users/mohamedaminemrabet/miniforge3/envs/deep/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

User Features Shape: (100000, 23)
Movie Features Shape: (100000, 403)

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MultiLabelBinarizer
from sentence_transformers import SentenceTransformer
from tqdm import tqdm  # For progress bar

# Load the dataset
data = pd.read_csv("../data/movielens.csv")

# Initialize transformers
genre_encoder = MultiLabelBinarizer()
occupation_encoder = OneHotEncoder(sparse=False)
scaler = StandardScaler()
title_transformer = SentenceTransformer('all-MiniLM-L6-v2')

genre_map = {
    0: 'Unknown',
    1: 'Action',
    2: 'Adventure',
    3: 'Animation',
    4: 'Children',
    5: 'Comedy',
    6: 'Crime',
    7: 'Documentary',
    8: 'Drama',
    9: 'Fantasy',
    10: 'Film-Noir',
    11: 'Horror',
    12: 'Musical',
    13: 'Mystery',
    14: 'Romance',
    15: 'Sci-Fi',
    16: 'Thriller',
    17: 'War',
    18: 'Western',
    19: 'Other'
}


# Process user features
def preprocess_user_features(data):
    # Initialize tqdm for the processing steps
    with tqdm(total=3, desc="Preprocessing User Features", unit="step") as pbar:
        # Normalize bucketized_user_age
        bucketized_user_age = scaler.fit_transform(data[['bucketized_user_age']])
        pbar.update(1)

        # Encode user_gender as binary (0: False, 1: True)
        user_gender = data['user_gender'].astype(int).values.reshape(-1, 1)
        pbar.update(1)

        # One-hot encode user_occupation_label
        occupation_encoded = occupation_encoder.fit_transform(data[['user_occupation_text']])
        pbar.update(1)

    # Return user feature vector
    user_features = np.hstack([bucketized_user_age, user_gender, occupation_encoded])
    return user_features


# Process movie features
def preprocess_movie_features(data):
    """
    Preprocess movie features for model input.

    Args:
        data (pd.DataFrame): DataFrame containing movie features, including 'movie_genres' and 'movie_title'.
        title_transformer: Sentence transformer model for title embeddings.
        genre_encoder: MultiLabelBinarizer for encoding genres.

    Returns:
        np.ndarray: Preprocessed movie feature vectors.
    """
    # Initialize tqdm for movie genres and titles
    with tqdm(total=2, desc="Preprocessing Movie Features", unit="step") as pbar:
        # Map genres to their string values and one-hot encode them
        data["movie_genres"] = data["movie_genres"].apply(
            lambda ids: [genre_map[int(id)] for id in ids.strip('[]').split()]
        )
        genre_encoded = genre_encoder.fit_transform(data["movie_genres"])
        pbar.update(1)

        # Encode movie titles with sentence embeddings
        title_embeddings = np.array(title_transformer.encode(data['movie_title'].tolist()))
        pbar.update(1)

    # Return movie feature vector
    movie_features = np.hstack([genre_encoded, title_embeddings])
    return movie_features


# Prepare data
user_features = preprocess_user_features(data)
movie_features = preprocess_movie_features(data)

# Ensure user_features and movie_features are ready for model input
print("User Features Shape:", user_features.shape)
print("Movie Features Shape:", movie_features.shape)

Preprocessing User Features:   0%|          | 0/3 [00:00<?, ?step/s]/Users/mohamedaminemrabet/miniforge3/envs/deep/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
Preprocessing User Features: 100%|██████████| 3/3 [00:00<00:00, 146.83step/s]
Preprocessing Movie Features: 100%|██████████| 2/2 [02:20<00:00, 70.29s/step]

User Features Shape: (100000, 23)
Movie Features Shape: (100000, 403)

In [2]:
import tensorflow as tf
from tensorflow.keras import layers, models
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from tqdm import tqdm  # For training progress bar

X_users = user_features
X_movies = movie_features
y = data['user_rating'].values  # Labels (e.g., binary rating or numeric)

# Train/test split
from sklearn.model_selection import train_test_split

X_users_train, X_users_test, X_movies_train, X_movies_test, y_train, y_test = train_test_split(
    X_users, X_movies, y, test_size=0.2, random_state=42
)

In [3]:
# Convert to TensorFlow tensors
import tensorflow as tf

X_users_train = tf.convert_to_tensor(X_users_train, dtype=tf.float32)
X_movies_train = tf.convert_to_tensor(X_movies_train, dtype=tf.float32)
y_train = tf.convert_to_tensor(y_train, dtype=tf.float32)

X_users_test = tf.convert_to_tensor(X_users_test, dtype=tf.float32)
X_movies_test = tf.convert_to_tensor(X_movies_test, dtype=tf.float32)
y_test = tf.convert_to_tensor(y_test, dtype=tf.float32)

2024-11-22 11:59:23.741798: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2024-11-22 11:59:23.741840: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2024-11-22 11:59:23.741850: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2024-11-22 11:59:23.741874: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-11-22 11:59:23.741893: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [ ]:
# Define the dimensions of the input features
user_feature_dim = user_features.shape[1]  # Adjust based on your data
movie_feature_dim = movie_features.shape[1]  # Adjust based on your data

# User features
user_input = layers.Input(shape=(user_feature_dim,), name="user_input")
user_embedding = layers.Dense(64, activation='relu')(user_input)
user_embedding = layers.BatchNormalization()(user_embedding)  # Batch normalization for user

# Movie features
movie_input = layers.Input(shape=(movie_feature_dim,), name="movie_input")
movie_embedding = layers.Dense(64, activation='relu')(movie_input)
movie_embedding = layers.BatchNormalization()(movie_embedding)  # Batch normalization for movie

In [ ]:
# Concatenate user and movie features
merged = layers.concatenate([user_embedding, movie_embedding])

# Final dense layer for recommendation score
output = layers.Dense(1, activation='sigmoid')(merged)

# Build the model
model = models.Model(inputs=[user_input, movie_input], outputs=output)

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# Model summary
model.summary()

In [ ]:
# Define callbacks
checkpoint_callback = ModelCheckpoint('../models/best_model.h5', monitor='val_loss', save_best_only=True, mode='min', verbose=1)
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True, verbose=1)

In [ ]:
epochs = 100
batch_size = 64


model.fit(
    [X_users_train, X_movies_train], y_train, 
    epochs=epochs, batch_size=batch_size,
    validation_data=([X_users_test, X_movies_test], y_test),  # Add validation data if available
    callbacks=[checkpoint_callback, early_stopping_callback],
    verbose=0  # Disable verbose, progress bar will be shown
)

In [ ]:
# Define training data (X_user_train, X_movie_train, y_train should already be defined)
# X_user_train, X_movie_train: Preprocessed features for users and movies
# y_train: Binary labels indicating interactions (1 for liked, 0 for not liked)

# Training with tqdm progress bar for epochs


# Evaluate the model after training
test_loss, test_acc = model.evaluate([X_users_test, X_movies_test], y_test)  # Test data should be prepared
print(f"Test Loss: {test_loss}, Test Accuracy: {test_acc}")

2024-11-22 11:48:37.745248: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2024-11-22 11:48:37.745282: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2024-11-22 11:48:37.745288: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2024-11-22 11:48:37.745304: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-11-22 11:48:37.745316: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)