In [1]:
import pandas as pd

In [57]:
df = pd.read_csv('../data/movielens.csv')

In [ ]:
df.head()

In [59]:
def trim_col(x):
    return x[2:-1]

df['movie_title'] = df['movie_title'].apply(trim_col)
df['movie_id'] = df['movie_id'].apply(trim_col)
df['user_id'] = df['user_id'].apply(trim_col)
df['user_occupation_text'] = df['user_occupation_text'].apply(trim_col)
df['user_zip_code'] = df['user_zip_code'].apply(trim_col)

In [61]:
def genre(x):
    x = x[1:-1]
    x = x.strip()
    x = x.split(sep=' ')
    l = list(filter(lambda x: x not in (None, ""), x))

    return l

In [62]:
df['movie_genres'] = df['movie_genres'].apply(genre)

In [63]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,53211
1,25.0,"[4, 14]",709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,80525
2,18.0,[4],412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,55439
3,50.0,"[5, 7]",56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,06472
4,50.0,"[10, 16]",895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,75094
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25.0,"[0, 1, 15]",228,Star Trek: The Wrath of Khan (1982),30.0,888557237,True,774,17,student,4.0,80027
99996,35.0,"[13, 16]",333,"Game, The (1997)",41.0,891012877,True,313,14,marketing,4.0,60035
99997,18.0,[10],567,Wes Craven's New Nightmare (1994),19.0,879795430,False,262,17,student,1.0,78264
99998,35.0,"[0, 10, 15, 16]",183,Alien (1979),37.0,892839492,False,911,21,writer,4.0,53210
99999,18.0,[4],1140,"Road to Wellville, The (1994)",21.0,874791894,True,276,17,student,2.0,95064

In [82]:
genre_map = {
    0: 'Unknown',
    1: 'Action',
    2: 'Adventure',
    3: 'Animation',
    4: 'Children',
    5: 'Comedy',
    6: 'Crime',
    7: 'Documentary',
    8: 'Drama',
    9: 'Fantasy',
    10: 'Film-Noir',
    11: 'Horror',
    12: 'Musical',
    13: 'Mystery',
    14: 'Romance',
    15: 'Sci-Fi',
    16: 'Thriller',
    17: 'War',
    18: 'Western',
    19: 'Other'
}

In [83]:
df["movie_genres"] = df["movie_genres"].apply(lambda ids: [genre_map[int(id)] for id in ids])

In [85]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[Documentary],357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,53211
1,25.0,"[Children, Romance]",709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,80525
2,18.0,[Children],412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,55439
3,50.0,"[Comedy, Documentary]",56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,06472
4,50.0,"[Film-Noir, Thriller]",895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,75094
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25.0,"[Unknown, Action, Sci-Fi]",228,Star Trek: The Wrath of Khan (1982),30.0,888557237,True,774,17,student,4.0,80027
99996,35.0,"[Mystery, Thriller]",333,"Game, The (1997)",41.0,891012877,True,313,14,marketing,4.0,60035
99997,18.0,[Film-Noir],567,Wes Craven's New Nightmare (1994),19.0,879795430,False,262,17,student,1.0,78264
99998,35.0,"[Unknown, Film-Noir, Sci-Fi, Thriller]",183,Alien (1979),37.0,892839492,False,911,21,writer,4.0,53210
99999,18.0,[Children],1140,"Road to Wellville, The (1994)",21.0,874791894,True,276,17,student,2.0,95064

In [98]:
df['user_gender'].value_counts()

user_gender
True     74260
False    25740
Name: count, dtype: int64

In [84]:
df.dtypes

bucketized_user_age      float64
movie_genres              object
movie_id                  object
movie_title               object
raw_user_age             float64
timestamp                  int64
user_gender                 bool
user_id                   object
user_occupation_label      int64
user_occupation_text      object
user_rating              float64
user_zip_code             object
dtype: object

In [5]:
df.isna().sum()

bucketized_user_age      0
movie_genres             0
movie_id                 0
movie_title              0
raw_user_age             0
timestamp                0
user_gender              0
user_id                  0
user_occupation_label    0
user_occupation_text     0
user_rating              0
user_zip_code            0
dtype: int64

In [86]:
from sklearn.preprocessing import MultiLabelBinarizer

In [87]:
mlb = MultiLabelBinarizer()

In [88]:
genres_encoded = mlb.fit_transform(df['movie_genres'])
genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)

In [94]:
df = pd.concat([df, genres_df], axis=1).drop('movie_genres', axis=1)

In [101]:
df.head()

,bucketized_user_age,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,...,Film-Noir,Musical,Mystery,Other,Romance,Sci-Fi,Thriller,Unknown,War,Western
0,45.0,357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,...,0,0,0,0,0,0,0,0,0,0
1,25.0,709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,...,0,0,0,0,1,0,0,0,0,0
2,18.0,412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,...,0,0,0,0,0,0,0,0,0,0
3,50.0,56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,...,0,0,0,0,0,0,0,0,0,0
4,50.0,895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,...,1,0,0,0,0,0,1,0,0,0

In [102]:
from sentence_transformers import SentenceTransformer

In [103]:
model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

.gitattributes:   0%|          | 0.00/1.23k [00:00<?, ?B/s]

1_Pooling/config.json:   0%|          | 0.00/190 [00:00<?, ?B/s]

README.md:   0%|          | 0.00/10.7k [00:00<?, ?B/s]

config.json:   0%|          | 0.00/612 [00:00<?, ?B/s]

config_sentence_transformers.json:   0%|          | 0.00/116 [00:00<?, ?B/s]

data_config.json:   0%|          | 0.00/39.3k [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/90.9M [00:00<?, ?B/s]

model.onnx:   0%|          | 0.00/90.4M [00:00<?, ?B/s]

model_O1.onnx:   0%|          | 0.00/90.4M [00:00<?, ?B/s]

model_O2.onnx:   0%|          | 0.00/90.3M [00:00<?, ?B/s]

model_O3.onnx:   0%|          | 0.00/90.3M [00:00<?, ?B/s]

model_O4.onnx:   0%|          | 0.00/45.2M [00:00<?, ?B/s]

model_qint8_arm64.onnx:   0%|          | 0.00/23.0M [00:00<?, ?B/s]

model_qint8_avx512.onnx:   0%|          | 0.00/23.0M [00:00<?, ?B/s]

model_qint8_avx512_vnni.onnx:   0%|          | 0.00/23.0M [00:00<?, ?B/s]

model_quint8_avx2.onnx:   0%|          | 0.00/23.0M [00:00<?, ?B/s]

openvino_model.bin:   0%|          | 0.00/90.3M [00:00<?, ?B/s]

openvino/openvino_model.xml:   0%|          | 0.00/211k [00:00<?, ?B/s]

openvino_model_qint8_quantized.bin:   0%|          | 0.00/22.9M [00:00<?, ?B/s]

(â€¦)nvino/openvino_model_qint8_quantized.xml:   0%|          | 0.00/368k [00:00<?, ?B/s]

pytorch_model.bin:   0%|          | 0.00/90.9M [00:00<?, ?B/s]

sentence_bert_config.json:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/350 [00:00<?, ?B/s]

train_script.py:   0%|          | 0.00/13.2k [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

modules.json:   0%|          | 0.00/349 [00:00<?, ?B/s]

In [ ]:
# This line of code kept running more than 20min so we moved to another optimezed solution in the next cell.

# df['title_embedding'] = df['movie_title'].apply(lambda title: model.encode(title))

In [106]:
embeddings = model.encode(df['movie_title'].tolist(), convert_to_tensor=True)
embeddings.shape

torch.Size([100000, 384])

In [107]:
embeddings

tensor([[-0.0351,  0.0105, -0.0312,  ..., -0.0218, -0.0094,  0.0348],
        [ 0.0086, -0.0072, -0.0644,  ...,  0.0253,  0.0306, -0.0308],
        [-0.0321, -0.0142, -0.0637,  ...,  0.0862,  0.0505,  0.0244],
        ...,
        [-0.0351, -0.0501, -0.0722,  ..., -0.0219, -0.0168,  0.0162],
        [-0.0337,  0.0383, -0.0397,  ...,  0.0653, -0.0048,  0.0151],
        [-0.0404,  0.0470, -0.0209,  ...,  0.1131, -0.0211, -0.0109]])

In [108]:
embeddings_list = embeddings.tolist()
df['title_embedding'] = embeddings_list

In [109]:
embeddings_df = pd.DataFrame(df['title_embedding'].tolist(), index=df.index)

In [110]:
df = pd.concat([df.drop(columns=['title_embedding']), embeddings_df], axis=1)

In [111]:
df.head()

,bucketized_user_age,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,...,374,375,376,377,378,379,380,381,382,383
0,45.0,357,One Flew Over the Cuckoo's Nest (1975),46.0,879024327,True,138,4,doctor,4.0,...,-0.000059,0.028617,-0.006242,-0.010861,-0.026007,-0.070109,0.077629,-0.021817,-0.009381,0.034754
1,25.0,709,Strictly Ballroom (1992),32.0,875654590,True,92,5,entertainment,2.0,...,-0.020182,-0.000871,-0.000600,0.060614,-0.050331,0.027037,0.017307,0.025332,0.030639,-0.030832
2,18.0,412,"Very Brady Sequel, A (1996)",24.0,882075110,True,301,17,student,4.0,...,0.028449,0.011174,-0.009052,0.007225,-0.005080,0.015241,0.099558,0.086217,0.050451,0.024373
3,50.0,56,Pulp Fiction (1994),50.0,883326919,True,60,4,healthcare,4.0,...,0.022719,0.018235,0.011511,0.137771,-0.051351,0.016533,0.010268,-0.001654,0.101332,0.017574
4,50.0,895,Scream 2 (1997),55.0,891409199,True,197,18,technician,3.0,...,0.068550,0.025233,-0.034744,0.048030,-0.023011,0.035936,0.086280,-0.033038,0.083152,0.024514

In [2]:
# synapses
# NMF