In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/movielens.csv')

In [3]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,[ 4 14],b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,[5 7],b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,[10 16],b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'

In [4]:
df.dtypes

bucketized_user_age      float64
movie_genres              object
movie_id                  object
movie_title               object
raw_user_age             float64
timestamp                  int64
user_gender                 bool
user_id                   object
user_occupation_label      int64
user_occupation_text      object
user_rating              float64
user_zip_code             object
dtype: object

In [5]:
df.isna().sum()

bucketized_user_age      0
movie_genres             0
movie_id                 0
movie_title              0
raw_user_age             0
timestamp                0
user_gender              0
user_id                  0
user_occupation_label    0
user_occupation_text     0
user_rating              0
user_zip_code            0
dtype: int64