In [2]:
import tensorflow_datasets as tfds
import pandas as pd

In [3]:
raw_data = tfds.load("movielens/100k-ratings", split="train")

2024-11-05 21:48:19.542143: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2024-11-05 21:48:19.542187: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2024-11-05 21:48:19.542192: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2024-11-05 21:48:19.542464: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-11-05 21:48:19.542481: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [4]:
train_ds_raw, test_ds_raw = tfds.load("movielens/100k-ratings", split=['train[:80%]', 'train[80%:]'])

In [8]:
def tfds_to_dataframe(tf_dataset):

    data = [example for example in tf_dataset]

    data = [{key: value.numpy() for key, value in example.items()} for example in data]

    return pd.DataFrame(data)

In [9]:
raw_data_df = tfds_to_dataframe(raw_data)
train_df = tfds_to_dataframe(train_ds_raw)
test_df = tfds_to_dataframe(test_ds_raw)

2024-11-05 21:41:07.957047: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-11-05 21:41:17.940101: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-11-05 21:41:21.655491: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

In [10]:
train_df

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,"[4, 14]",b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,"[5, 7]",b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,"[10, 16]",b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'
...,...,...,...,...,...,...,...,...,...,...,...,...
79995,25.0,"[4, 14, 16]",b'402',b'Ghost (1990)',31.0,891448697,False,b'269',10,b'librarian',2.0,b'43201'
79996,35.0,"[13, 16]",b'603',b'Rear Window (1954)',35.0,881170528,True,b'744',14,b'marketing',5.0,b'47024'
79997,25.0,"[7, 18]",b'318',"b""Schindler's List (1993)""",25.0,879572256,True,b'249',17,b'student',5.0,b'84103'
79998,45.0,[4],b'524',"b'Great Dictator, The (1940)'",45.0,879434723,True,b'48',2,b'administrator',3.0,b'12550'
79999,56.0,"[4, 18]",b'430',b'Duck Soup (1933)',60.0,887738717,True,b'308',13,b'retired',4.0,b'95076'

In [12]:
train_df['user_id'].value_counts()

user_id
b'405'    578
b'655'    527
b'13'     505
b'450'    439
b'416'    405
         ...
b'512'     13
b'572'     13
b'516'     13
b'132'     13
b'631'     12
Name: count, Length: 943, dtype: int64

In [14]:
raw_data_df.shape

(100000, 12)

In [16]:
raw_data_df.to_csv('../data/movielens.csv', index=False)